body{
    font-family: 'Khand', sans-serif;
    font-size: 130%;
    font-weight: 500;
}

h1, cite{
    display: block;
    text-align: center;
}

.grid1{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

table, th, td{
    border: 1px solid black;
}

.napoleao{
    width: 40vw;
}

form{
    text-align: center;
}

fieldset{
    margin: auto;
    width: 70%;
}

fieldset legend, input[type="submit"]{
    font-weight: bold;
    font-size: 120%;
}

input[type="submit"]{
    display: block;
    margin: auto;
    background-color: rgba(54, 64, 160, 0.7);
    color: white;
    border-radius: 3%;
    padding: .5rem 1rem;
    border: none;
}

input[type="submit"]:hover{
    display: block;
    margin: auto;
    background-color: rgba(62, 75, 192, 0.7);
    color: white;
    border-radius: 3%;
    padding: .5rem 1rem;
    border: none;
}