body{
    font-family: 'Khand', sans-serif;
    font-size: 130%;
    font-weight: 500;
}

h1, cite{
    display: block;
    text-align: center;
}

.tres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}