body{
    font-family: 'Khand', sans-serif;
    font-size: 130%;
    font-weight: 500;
}

h1, cite{
    display: block;
    text-align: center;
}

.grid1{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

table, th, td{
    border: 1px solid black;
}

.napoleao{
    width: 40vw;
}